body {
  font-family: sans-serif;
  background-color: lightcyan;
}

div>* {
  border: 2px solid rgb(96, 139, 168);
  background-color: rgb(96 139 168 / 0.2);
  padding: 1em;
  border-radius: 5px;
}

.box {
  display: flex;
  justify-content: space-between;
  border: 2px dotted rgb(96, 139, 168);
}

.box2 {
  display: flex;
  justify-content: center;
  border: solid;
  background-color: beige;
  /* margin-top: 5px;
  margin-bottom: 5px; */
  margin: 5px 0;

}

.box2>* {
  background-color: rgba(232, 15, 29, 0.4);
}

section {
  display: flex;
  align-content: normal;
  border: 2px solid tomato;
  height: 300px;
  width: 300px;
  flex-wrap: wrap;
  gap: 0.2rem;
}

.olive {
  background-color: olive;
}

.coral {
  background-color: coral;
}

.deepskyblue {
  background-color: deepskyblue;
}

.orchid {
  background-color: orchid;
}

.slateblue {
  background-color: slateblue;
}

.maroon {
  background-color: maroon;
}