body {
  font-family: sans-serif;
  width: 90%;
  max-width: 960px;
  margin: 10px auto;
}

header {
  background-color: purple;
  height: 100px;
}

.pinyon-script-regular {
  font-family: "Pinyon Script", cursive;
  font-weight: 400;
  font-style: normal;
}


h1 {
  margin: 0;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 45px;
  font-weight: 800;
}

section {
  zoom: 0.8;
  display: flex;
  flex-flow: row;
}

article {
  background-color: aqua;
  margin: 5px;
  padding: 5px;
  flex: 1 150px;
  border: 2 black solid;
  border-radius: 5%;
}

article:nth-of-type(3) {
  flex: 2 200px;
}

.list {
  background-color: black;
  color: bisque;
}

ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  background-color: bisque;
}

li {
  border: 1 dotted grey;
  border-radius: 15%;
  background-color: black;
  height: 25px;
  padding: 10px;
  margin: 10px;
}

.seperator {
  text-align: center;
  height: 30px;
  padding-top: 10px;
}

.button {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100px;
  border: 1px solid black;
}

button {
  font-size: 18px;
  line-height: 1.5;
  width: 15%;
}